# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.keystore

# iOS/macOS (if ever needed)
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/macos/Flutter/ephemeral/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Miscellaneous
*.class
*.log
*.pyc
*.o
.DS_Store
.atom/
.history
.svn/
